.nav{
height: 60px;
position: fixed;
width:100%;
background-color: #FFFFFF;

}

.nav .container a#logo{
	font-family: chelsea-market;
	font-weight: 450;
	font-size: 40px;
	font-style: normal;
	clear: both;	
	color:rgba(0,0,0,1.00);
	margin-left: .5em;
	margin-top: 1em;
}

.nav .container{
	
	padding-top:-9em;
	margin-top:-10px;
	
	}

.nav .container a#contactus {
	
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	margin-top:20px;
	margin-right: 35px;
}

.BecomeTourGuide
{
	margin-right: 10em;	
	margin-left: 10em;	
	
}

.BecomeTourGuide #frimg{
margin-left: 1em;	
}


footer{
	
	margin-top: -1px;
	margin-bottom: 0px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-family: source-serif-pro;
	font-style: normal;
	font-weight: 400;
	bottom: 0;
	position: fixed; 
	width: 100%;
}

.tex{
	margin-top: 5px;
	margin-left:5px;
	
	
	}

.datefield { 
    display: inline; 
    padding: 0.3em; 
    border: inset 1px #CCC; 
    background: #FFF; 
    /*border-radius: 4px;*/
    color: #666;
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 2.7em; 
    padding: 0 0.4em; 
    border: none; 
    font-size: 100%; 
    background: none;
    color: #000;            
}

.datefield input#year { width:4.5em; }
.datefield input:focus { outline:none; }



.romance{
	color:rgba(134,88,172,1.00);	
	
	}
	
	#iamo{
		display:inline-block;	
		margin-right:10px;
		}
		
		#iam{
			display:inline-block;
			margin-right:5px;
			margin-left:5px;	
			
			}
			
			#lfor{
					display:inline-block;
				margin-right:10px;
				}
				
				#lfor2{
					display:inline-block;
				margin-right:10px;
				}
				
				#lfor3{
					display:inline-block;
				margin-right:10px;
				}
				#lfor4{
					display:inline-block;
				margin-right:10px;
				}



