{% extends "baseTemplate.html" %}
{% load widget_tweaks %}

{% block content %}
<br />
<br />
<br />
<div class="formboxsignup">
	<h1 class="headlabel">Sign Up Here!</h1>
	        <form method="post" action=".">
	                {% csrf_token %}
	              
	                <label class="reglabel">User Name:</label><br>
	                 {{ form.username|add_class:"input-md textfields" }}
	                 {{ form.username.errors }}<br>

	                 <label class="reglabel">Email: </label><br>
	                {{ form.email|add_class:"input-md textfields" }}
	                {{ form.email.errors }}<br>

	                <label class="reglabel">Password: </label><br>
	                {{ form.password1|add_class:"input-md textfields" }}
	                {{ form.password1.errors }}<br>

	                <label class="reglabel">Repeat Password: </label><br>
	                {{ form.password2|add_class:"input-md textfields" }}
	                {{ form.password2.errors }}<br><br>
	                

	                <input type="submit" value="Submit" class="btn btn-default btn-lg reglabel submitbutton"/>
	            
	        </form>
       </div>
{% endblock content%}