.jumbotron {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;

}

#index-jumbotron {
    height: 490px;
    margin-left: 0;
    margin-right: 0;
    background-image: url("../images/Eiffel%20Sunset%203.JPG");
}

#profile-jumbotron {
    height: 40vh;
    background-repeat: no-repeat;
    background-image: url("/static/images/cityBackgrounds/glasgowAlt.jpg");
    background-position: center;

}

#city-title {
    top: 5%;
    left: 2%;
    padding-left: 0;
    margin-left: 0;
    color: white;
    font-size: x-large;
    font-family: "Raleway", sans-serif;
}

.jumbotron .container {
    position: relative;
    top: 100px;
    z-index: 99;

}

.jumbotron h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.jumbotron p {
    font-size: 20px;
    color: #FFFFFF;
    font-family: source-serif-pro;
    font-style: normal;
    font-weight: 400;
    -webkit-box-shadow: 10px 5% 15px #833C3D;
    box-shadow: 10px 5% 15px #833C3D;
}

#profileNav {

    position: absolute;
    top: 55vh;
    width: 100%;

}

#profileNavbar > ul {
    padding-bottom: 0;
    padding-top: 0;
}

.center-element {
    width: 200px;
    height: 200px;

    position: absolute;
    top: 30vh;
    transform: translate(-45%);

    left: 50%;
    margin-left: auto;
    margin-right: auto;

    z-index: 10;
}

.homePageSearchBar {
    width: 800px;
    height: 200px;

    position: absolute;
    top: 45%;
    transform: translate(-50%);

    left: 50%;
    margin-left: auto;
    margin-right: auto;
    
}


.profile-body {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    margin-top: 0;
    border-top: solid;
}

.learn-more {
    background-color: #f7f7f7;
    padding-top: 2%;
}

.learn-more h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: #FCFCFC;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

h1 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

p {
    font-family: source-serif-pro;
    font-style: normal;
    font-weight: 400;
    margin-left: 8px;

}

footer {

    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #efefef;
    color: #393c3d;
    text-align: center;
    font-family: source-serif-pro;
    font-style: normal;
    font-weight: 400;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.next-step a {
    color: #000000;
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.next-step .container {
    margin-top: 20px;
    margin-bottom: 5px;
}

section {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.learn-more .container .row {

    margin-top: -25px;

}

.learn-more .container .row .col-md-4 a {
    color: #333232;
}

.jumbotron .container section {
    clear: left;
    float: left;
    width: 450px;

}

.jumbotron .container .header {
    clear: left;
    float: left;
    width: 650px;
    margin-left: -20px;
}

.superstars {
    height: 500px;
}

#navbar {
    background-color: aliceblue;
    color: #333232;
    padding-right: 2%;
}

#navbar-brand {
    font-family: "Chelsea Market", sans-serif;
    color: #333232;
!important;
    font-size: x-large;
}

#navbar-brand:hover {
    background-color: #333232;
    color: aliceblue;
}

#navbar > ul > li > a {
    color: #333232;
}

#navbar > ul > li > a:hover {

    background-color: #333232;
    color: aliceblue;

}

#navbar > ul {
    padding-bottom: 0;
    padding-top: 0;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: white;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

#login {

    background-color: #efefef;
    margin-top: 3%;
}

/* below two selectors are for star ratings*/
span.stars, span.stars span {
    display: block;
    background: url("/static/images/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.homePageList{
    font-family: "Open Sans", Arial, sans-serif;
}

#userControls a{
    color: black;
}

.profile-second-row{
    padding-top: 4%;
}

#hobbiesLanguages{
    padding-top: 16%;
}

#hobbiesLanguages li{
    font-size: larger;
}


