{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excurj.</title>

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">


    <link href='https://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
     <script language="javascript" src="{% static "JS/app.js" %}"></script>
    
</head>
<body>

<div class="navbar-wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="navbar-brand" href="{% url 'index' %}">Excurj.</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        {% if user.is_authenticated %}
                        <li><a href="#" class="text-center">Messages</a></li>
                        {% else %}
                        <li><a href="#" class="text-center">About</a></li>
                        {% endif %}
                        <li><a href="#" class="text-center">Travel Stories</a></li>
                        <li><a href="/search/" class="text-center">Search</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}?next=/logout/" class="pull-right">Log Out</a></li>
                        {% else %}
                        <li><a href="{% url 'auth_login' %}" class="pull-right">Log in</a></li>
                        <li><a href="{% url 'registration_register' %}" class="pull-right">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
        </nav>
</div>

{% block content %}{% endblock content %}

<div>
    <footer>Copyrights 2016 by excurj.com. Made with 100% recycled pixels.</footer>
</div>
 
</body>
</html>