<!DOCTYPE html>
<html>
    <head>
        {% if city %}
        <title>Excurj - {{ city.name }}</title>
        {% else %}
        <title>Excurj - City does not exist!</title>
        {% endif %}
    </head>

    <body>
        {% if city %}
        <h1>{{ city.name }}</h1>
        {% else %}
            The specified city does not exist!
        {% endif %}
        
        {% for user in users %}
        
        <p>{{ user.profile.slug }} - {{ user.profile.city }}</p>
        
        {% endfor %}
        
    </body>
</html>