{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excurj.</title>

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">

    <script>var __adobewebfontsappname__ = "dreamweaver"</script>
    <script src="http://use.edgefonts.net/source-serif-pro:n4,n6,n7:default;chelsea-market:n4:default.js"
            type="text/javascript"></script>
</head>
<body>

<div class="nav nav-bar" role="navigation">
    <a href="/login" class="pull-right">Log in</a>
    <a href="/signup" class="pull-right">Sign up</a>
    <a href="index.html" id="logo"><strong>excurj.</strong></a>
    <a href="#superstars" class="text-center">Super Stars</a>
    <a href="#" class="text-center">Popular Cities</a>
    {% block content %}
    {%endblock content %}
</div>

</div>
    <footer>Copyrights 2016 by excurj.com. Made with 100% recycled pixels.</footer>
</div>

</body>
</html>